@import url('https://fonts.googleapis.com/css?family=Comfortaa:300|Open+Sans:300,400');
@import "navbar.css";
@import "button.css";

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

section, .container {
    padding: 10px 5%;
}
div {
    padding: 5px 0;
}


a {
    text-decoration: none;
    color: inherit;
}

/* BEGIN TEXT STYLE */
h1, h2 {
    font-family: "Open Sans", "Segoe UI", sans-serif;
    font-weight: 300;
}
h2 {
    margin: 0.2em 0;
}

.txt-big {
    font-size: 1.3em;
}
/* END TEXT STYLE */

.box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* BEGIN UNDERLINE EFFECT */
.underline > a {
  position: relative;
  text-decoration: none;
}

.underline > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.underline > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* END UNDERLINE EFFECT */

/* BEGIN 404 STYLE*/
.not-found {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.not-found span {
    font-size: 16em;
}
.not-found h1 {
    font-size: 3em;
}
/* END 404 STYLE */

/* BEGIN BOXES */
.flexbox {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.flex-col {
    margin: 5px;
    padding: 15px;
    text-align: justify;
    flex-basis: 100%;
}

@media (max-width: 768px) {
    .flexbox {
        display: block;
    }
}

.flex-col:nth-child(odd) {
    background-color: #cfcaff;
}
.flex-col:nth-child(even) {
    background-color: #eae8ff;
}
/* END BOXES */
